<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">

    <bean id="passwordDecodePostProcessor"
          class="com.yicj.study.ioc.beanpostprocessor.PasswordDecodePostProcessor" />

    <bean id="newsListener" class="com.yicj.study.ioc.beanpostprocessor.DowJonesNewsListener">
        <property name="password" value="mypassword" />
    </bean>

</beans>