<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">

    <!--验证循环依赖中一个对象被修改后报错-->
    <bean id="aaa" class="com.yicj.study.ioc.earlysingletonexposure.AAA" >
        <property name="bbb" ref="bbb" />
    </bean>

    <bean id="bbb" class="com.yicj.study.ioc.earlysingletonexposure.BBB">
        <property name="aaa" ref="aaa" />
    </bean>

    <bean id="ccc" class="com.yicj.study.ioc.earlysingletonexposure.CCC" />
</beans>