<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value-ref="datePropertyEditor"/>
            </map>
        </property>
    </bean>

    <bean id="datePropertyEditor" class="com.yicj.study.ioc.propertyeditor.DatePropertyEditor">
        <property name="datePattern" value="yyyy/MM/dd" />
    </bean>

    <bean id="dataFoo" class="com.yicj.study.ioc.propertyeditor.DateFoo">
        <property name="date" value="2017/10/16" />
    </bean>
</beans>