<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">

    <!--
    spring2.0 之前通常是通过customEditors属性来指定自定义的PropertyEditor。
    spring2.0 之后比较提倡使用propertyEditorRegistrars属性来指定自定义的PropertyEditor。
    不过这样我们就需要再多做一步工作，就是给出一个PropertyEditorRegistrar的实现
    -->
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <ref bean="dataPropertyEditorRegistrar" />
            </list>
        </property>
    </bean>

    <bean id = "dataPropertyEditorRegistrar" class="com.yicj.study.ioc.propertyeditor.client2.DatePropertyEditorRegistrar">
        <property name="propertyEditor" ref="datePropertyEditor" />
    </bean>

    <bean id="datePropertyEditor" class="com.yicj.study.ioc.propertyeditor.DatePropertyEditor">
        <property name="datePattern" value="yyyy/MM/dd" />
    </bean>

    <bean id="dataFoo" class="com.yicj.study.ioc.propertyeditor.DateFoo">
        <property name="date" value="2017/10/16" />
    </bean>
</beans>