<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">

	<bean id="beforeAdvice" class="com.yicj.study.aop.advice.CountingBeforeAdvice" />
	<bean id="throwsAdvice" class="com.yicj.study.aop.advice.CountingThrowsAdvice"  />
	<bean id="afterAdvice" class="com.yicj.study.aop.advice.CountingAfterAdvice"  />

	<bean id="beforeAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="beforeAdvice" />
	</bean>
	<bean id="throwsAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="throwsAdvice" />
	</bean>
	<bean id="afterAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="afterAdvice" />
	</bean>


	<bean id="testAop" class="org.springframework.aop.framework.ProxyFactoryBean" >
		<property name="proxyInterfaces" value="com.yicj.study.aop.foo.IHello" />
		<property name="target">
			<bean class="com.yicj.study.aop.foo.impl.HelloImpl" />
		</property>
		<property name="interceptorNames">
			<list>
				<!--<value>beforeAdvisor</value>
				<value>afterAdvisor</value>-->
				<value>throwsAdvisor</value>
			</list>
		</property>
	</bean>
</beans>