<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">
    <bean id="newsListener"
          class="com.yicj.study.ioc.foo.service.impl.DowJonesNewListener">
        <property name="newsProvider" ref="newsProvider" />
    </bean>

    <bean id="newsProvider"
          class="com.yicj.study.ioc.foo.service.FXNewsProvider">
        <property name="newsListener" ref="newsListener" />
    </bean>

    <bean id="txProxy" class="com.yicj.study.ioc.foo.service.TXProxyFactoryBean" >
        <property name="clazzName" value="com.yicj.study.ioc.foo.model.FxNewsBean" />
    </bean>

</beans>